@charset "utf-8";
/* CSS Document */

#wrapper {
	
	margin:auto;
	width:1280px;
	height:720px;
	overflow:auto;
}

body {
	font-size:100%;
}

#logo {
	background-color:#94a653;
	width:200px;
	height:200px;
	float:left;
	position:relative;
}

#nav {
	
	float:left;
	position:relative;
	width:1080px;
	margin-top:150px;
}

#nav li {
	float:left;
	position:relative;
	text-decoration:none;
	list-style:none;
	margin-left:150px;
	padding:5px;
	font-family:'Allura', cursive;
	font-size:1.5em;
	font-weight:100;
}

a:link {
	text-decoration:none;
	color:#94a653;
}

a:hover {
	text-decoration:none;
	color:red;
}

a:visited {
	text-decoration:none;
	color:#94a653;
}

#menu {
	background-color:white;
	float:left;
	position:relative;
	margin:auto;
	width:1280px;
	height:450px;
	text-align:center;
}

.headline{
	font-family:'Cinzel Decorative', cursive;
	color:gray;
	font-size:1.2em;
}

.price{
	font-family:'Cinzel Decorative', cursive;
	color:#94a653;
	font-size:.8em;
}

#footer {
	float:left;
	position:relative;
	margin-top:10px;
	padding-top:5px;
	font-family:'Cinzel Decorative', cursive;
	font-size:.7em;
	background-color:#94a653;
	opacity:.7;	
	width:1280px;
	height:20px;
}

.footer{
	color:white;
	margin-left:500px;
}